name: CI

on: 
  push:
  pull_request:
  release:
    types: [published]

jobs:
  build:
    # We want to compile with v142
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v1
    
    - name: Check free space 
      shell: bash 
      run: |
        df -h
  
    # Workaround for https://github.community/t5/GitHub-Actions/Windows-tests-worked-yesterday-broken-today/td-p/43574
    - name: Override bash shell PATH (windows-latest)
      run: echo "C:\Program Files\Git\bin" >> $GITHUB_PATH

    - uses: Jimver/cuda-toolkit@v0.2.11
      id: cuda-toolkit
      with:
        cuda: '12.1.0'

    - name: Download custom vcpkg and additional ports 
      shell: bash
      run: |
        choco install -y wget
        mkdir C:/ivdv
        cd C:/ivdv
        git clone https://github.com/Microsoft/vcpkg
        cd vcpkg
        git checkout 2023.06.20
        C:/ivdv/vcpkg/bootstrap-vcpkg.sh
        
    - name: Install vcpkg ports
      shell: bash
      run: |
        C:/ivdv/vcpkg/vcpkg.exe install --overlay-triplets=./triplets  --overlay-ports=./ports --triplet=x64-windows-mt-v142 onnxruntime opencv[contrib,dnn,dnn-cuda] yaml-cpp wxwidgets bfgroup-lyra eigen3 spdlog

    # Remove temporary files https://github.com/Microsoft/vcpkg/blob/master/docs/about/faq.md#how-can-i-remove-temporary-files
    # For some reason doing using git bash to do rm -rf fails for icu's port buildtrees, probably for the use of msys2 
    # See https://github.com/microsoft/vcpkg/issues/10365  
    - name: Cleanup vcpkg temporary directories
      shell: cmd 
      run: |
        RMDIR /Q/S C:\ivdv\vcpkg\buildtrees
        RMDIR /Q/S C:\ivdv\vcpkg\packages
        RMDIR /Q/S C:\ivdv\vcpkg\downloads

    - name: Prepare release file
      if: github.event_name == 'release'
      shell: cmd 
      run: |
        7z a vcpkg-idjl-vision.zip C:\ivdv
        
    - name: Upload Release Asset
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./vcpkg-idjl-vision.zip
          asset_name: vcpkg-idjl-vision.zip
          asset_content_type: application/zip
